.about {
    background-color: #000000;
    
}
.developers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
}

.about p {
    padding: 20px 50px; 
}

a {
    color: yellow;
}

.intro {
    font-size: 20px;
    margin: 0px 100px;
    text-align: center;
}

.Kylie img {
    height: 380px;
    width: 300px;
}

img {
    padding-bottom: 25px;
}
