.home {
    text-align: center;
}

.home p {
    font-size: 18px;
    margin-top: 25px;
    border: 1px solid black;
    padding: 25px 0 25px 0;
}

.navBar a {
    color: white;
    text-decoration: none;
}

.video a {
    color: black;
}