.shareModal {
  background-color: whitesmoke;
  border: 2px solid red;
  position: absolute;
  left: 30%;
  width: 50%;
  }
  .url p{
    color: #000;
  }
  .link a{
   color: #000;
  }
  .title{
    padding: 50px;
  }
  
 