.navBar{
    border: 2px solid red;
    background-color: red;
    align-items: baseline;
    display: grid;
    grid-template-columns: 20% 8% 8%;
    margin-bottom: 50px;
}

.navBar h1,h2 {
    color: white;
}
