.navBar {
    border: 2px solid red;
    background-color: red;
    align-items: baseline;
    display: grid;
    grid-template-columns: 10vw 10vw 8vw 65vw;
    padding: 30px;
    text-align: end;
    position: relative;
    width: 100vw;
}

.navBar h1,h2 {
    color: white;
    background-color: red;
}

#login,
.navBar .username {
    border: none;
    background-color: red;
    text-align: end;
    width: 80px;
    position: absolute;
    right: 120px;
    top: 35px;
}

.background {
    background-color: black;
}

.modal {
    background-color: black;
    padding-top: 50px;
}