
.videos {
    border: 2px solid red;
    /* text-align: center; */
    background-color: black;
    padding-left: 20px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.videos p {
    font-size: 18px;
    margin-top: 25px;
    padding: 0px 10px 10px 10px;
}
.titles{
    text-align: center;
}

span, p, h1, label{
    color: white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}