
.videos {
    border: 2px solid red;
    background-color: black;
    padding-left: 20px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}
.videos p {
    font-size: 18px;
    margin-top: 25px;
    padding: 0px 10px 10px 10px;
}


span, p, h1, label{
    color: white;
}

/* img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
} */